<app-navbar></app-navbar>

<div class="app-background center ">

  <div class="row justify-content-center px-6 pt-5">

    <div class="col-lg-5 rounded " >

      <div class="pb-4 text-light text-center">
        <h3>Wiadomości</h3>
      </div>

    </div>

  </div>


</div>

<div class="app-background px-6">
  <div class="row vh-100 overflow-hidden pt-2">

    <div class="col-4">
      <app-messages-bar></app-messages-bar>
    </div>

    <div class="col-8">
      <app-conversation></app-conversation>
    </div>


  </div>




</div>




<!--<div class="fixed mh-100 flex border lg:shadow-sm overflow-hidden inset-0 lg:top-16 lg:inset-x-2 m-auto lg:h-[90%] rounded-t-lg">-->

<!--<app-messages-bar></app-messages-bar>-->

<!--<app-conversation></app-conversation>-->

