<app-navbar></app-navbar>

<div class="app-background center ">

  <div class="row justify-content-center px-6 pt-5">

    <div class="col-lg-5 rounded " >

      <div class="p-4 text-light text-center">
        <h3>Wiadomości</h3>
      </div>

    </div>

  </div>


</div>

<div class="app-background px-6">

  <div class="fixed mh-100 flex border lg:shadow-sm overflow-hidden inset-0 lg:top-16 lg:inset-x-2 m-auto lg:h-[90%] rounded-t-lg vh-100">

    <div class="border bg-primary text-light col-4 vh-100">

      <div class="border-bottom pt-2 d-flex justify-content-center">
          <h4>Wszystkie</h4>
      </div>

    </div>

  </div>

</div>




<!--<div class="fixed mh-100 flex border lg:shadow-sm overflow-hidden inset-0 lg:top-16 lg:inset-x-2 m-auto lg:h-[90%] rounded-t-lg">-->

