<app-navbar></app-navbar>

<div class="app-background center ">

  <div class="mx-auto row justify-content-center px-6 pt-5">

    <div class="col-lg-5 rounded " >

      <div class="pb-4 text-light text-center">
        <h3>Wiadomości</h3>
      </div>

    </div>

  </div>

</div>


<div *ngIf="isMobile || isBigMobile; then mobile; else desktop">

</div>


<ng-template #desktop>

  <div class="app-background px-6">
    <div class="mx-auto row pt-2">

      <div class="col-4">
        <app-messages-bar></app-messages-bar>
      </div>

      <div class="col-8">
        <app-conversation></app-conversation>
      </div>

    </div>
  </div>

</ng-template>



<ng-template #mobile>

  <div class="app-background">
    <div class="pt-2">

      <div class="d-inline position-absolute">
        <app-messages-bar></app-messages-bar>
      </div>

      <div class="d-inline">
        <app-conversation></app-conversation>
      </div>

    </div>
  </div>

</ng-template>
