<app-navbar></app-navbar>

<div class="app-background text-center text-light p-5">
  <h2> Przeglądaj chore zwierzęta</h2>
</div>

<div class="app-background px-6 d-flex justify-content-center pb-3">
  <div class="p-2">
    <button type="button" class="btn text-light btn-rounded" style="background-color:#6a994e" routerLink="/pets-to-adopt"> Zwierzęta do adopcji </button>
  </div>

  <div class="p-2">
    <button type="button" class="btn text-light btn-rounded" style="background-color:#6a994e" [disabled]="true"> Chore zwierzęta </button>
  </div>

</div>
