
<app-navbar></app-navbar>

<div class="app-background center ">

  <div class="row justify-content-center px-6 pt-5">

    <div class="col-lg-5 rounded " >

      <div class="p-4 text-light text-center">
        <h3>Logowanie</h3>
      </div>

      <div class="text-light">

        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <label for="task-title" class="form-label m-2">E-mail:</label>
          <input type="email" class="form-control" id="task-title" placeholder="" name="task-title" formControlName = "email">

          <div class="text-danger p-1" *ngIf="loginForm.get('email')?.hasError('required') &&
          (loginForm.get('email')?.dirty ||
          loginForm.get('email')?.touched ||
            hasSubmitted)">E-mail jest wymagany</div>

            <div class="text-danger p-1" *ngIf="loginForm.get('email')?.hasError('email') &&
          (loginForm.get('email')?.dirty ||
          loginForm.get('email')?.touched ||
            hasSubmitted)">Wpisz poprawny adres e-mail</div>

          <label for="task-title" class="form-label m-2">Hasło:</label>
          <input type="password" class="form-control" id="task-title" placeholder="" name="task-title" formControlName = "password">

          <div class="text-danger p-1" *ngIf="loginForm.get('password')?.hasError('required') &&
          (loginForm.get('password')?.dirty ||
          loginForm.get('password')?.touched ||
            hasSubmitted)">Hasło jest wymagane</div>

          <div class="text-danger p-1" *ngIf="error">
            Email lub hasło nieprawidłowe
          </div>

          <div class="text-center m-4">
            <button type="submit" class="btn btn-warning">Zaloguj</button>
          </div>

          <div class="text-center m-4">
            <a href="#" routerLink="/reset-password"> Nie pamiętam hasła</a>
          </div>

        </form>

      </div>

</div>
