<div class="app-background px-6 pb-1">
<div class="theme-bgr ps-5 pe-5 ">
  <nav class="navbar navbar-expand-lg mb-1 m-3 ">
      <div class="container-fluid ">
        <div class="fa-3x ms-1">
          <fa-icon [icon]="faShieldDog"></fa-icon>
        </div>
          <a class="navbar-brand navbar-light text-light" href="#" routerLink=""><span class="ps-2"></span> Pets Shelter </a>

          <div class="collapse navbar-collapse">
              <div class="navbar-nav ms-auto">

                <div class="fa-xl pe-3 pt-2 text-dark" *ngIf="isLoggenIn">
                  <fa-icon class="pe-1" [icon]="faSackDollar"></fa-icon> <b>{{loggedUser.tokens_count}}</b>
                </div>

                <div class="fa-1x pe-3" *ngIf="isLoggenIn">
                  <button type="button" class="btn btn-primary position-relative" routerLink="/messages">
                     <fa-icon [icon]="faEnvelope"></fa-icon>

                     <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" [ngClass]="messagesCount > 0 ? 'visible' : 'invisible'">
                      {{messagesCount}}
                    </span>
                  </button>
                </div>

                <div class="fa-1x pe-1" *ngIf="isLoggenIn">
                  <button type="button" class="btn btn-primary" routerLink="/add-pet">
                    Dodaj <fa-icon [icon]="faPlus"></fa-icon>
                  </button>
                </div>

                <div class="btn-group" *ngIf="isLoggenIn">
                  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{loggedUser.name}}  <fa-icon [icon]="faUser"></fa-icon>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" routerLink="/edit-profile">Edytuj profil</a></li>
                    <li><a class="dropdown-item" href="#" routerLink="/my-pets">Moje zwierzęta</a></li>
                    <li><a class="dropdown-item" href="#" routerLink="/saved-pets">Zapisane</a></li>
                    <li><a class="dropdown-item" href="#" routerLink="/tokens-bundles">Doładuj żetony</a></li>

                    <div *ngIf="loggedUser.role == 'admin'">
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#" routerLink="/users">Użytkownicy</a></li>
                      <li><a class="dropdown-item" href="#" routerLink="/sick-pets-manager">Chore zwierzęta</a></li>
                    </div>

                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#" (click)="logout()">Wyloguj</a></li>
                  </ul>
                </div>


                  <a class="nav-link text-light" aria-current="page" href="#" routerLink="/register" *ngIf="!isLoggenIn">Rejestracja</a>
                  <a class="nav-link text-light" href="#" routerLink="/login" *ngIf="!isLoggenIn">Zaloguj</a>
              </div>
          </div>

      </div>
  </nav>

</div>

</div>
