<div class="app-background px-6 pb-1">
<div class="theme-bgr ps-5 pe-5 ">
  <nav class="navbar navbar-expand-lg mb-1 m-3 ">
      <div class="container-fluid ">
        <div class="fa-3x ms-1">
          <fa-icon [icon]="faShieldDog"></fa-icon>
        </div>
          <a class="navbar-brand navbar-light text-light" href="#" routerLink=""><span class="ps-2"></span> Pets Shelter </a>


          <div class="collapse navbar-collapse">
              <div class="navbar-nav ms-auto">

                <div class="btn-group">
                  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Paweł
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Edytuj profil</a></li>
                    <li><a class="dropdown-item" href="#">Dodane zwierzęta</a></li>
                    <li><a class="dropdown-item" href="#">Zapisane</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Wyloguj</a></li>
                  </ul>
                </div>


                  <a class="nav-link text-light" aria-current="page" href="#" routerLink="/register">Rejestracja</a>
                  <a class="nav-link text-light" href="#" routerLink="/login">Zaloguj</a>
              </div>
          </div>

      </div>
  </nav>

</div>

</div>
