<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light  mb-5">
      <div class="container-fluid">
          <a class="navbar-brand" href="#"><span class="fas fa-hotel"></span> Easy Loan</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-bar"
              aria-controls="navbar-bar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-bar">
              <div class="navbar-nav ms-auto">
                  <a class="nav-link" aria-current="page" href="#">Home</a>
                  <a class="nav-link" href="#">About</a>
                  <a class="nav-link" href="#">Services</a>
                  <a class="nav-link" href="#">Blog</a>
                  <a class="nav-link" href="#">Conact</a>
                  <a class="nav-link" href="#">Apply For Loan</a>
              </div>
          </div>
      </div>
  </nav>
  <div class="d-md-flex align-items-center justify-content-between pb-3">
      <div class="content mb-md-0 mb-5">
          <p class="h2">The Simple online home Loan</p>
          <p class="line"></p>
          <p class="p2">Financial uncertainty is hard on employees and causes even.</p>
          <div class="btn btn-primary">Our Service</div>
      </div>
      <form>
          <div class="d-flex flex-column align-items-center">
              <p class="fs-4 fw-bold m-0 mt-4">How much you want?</p> <span class="text-muted">We provide online
                  instant cash loans.</span> <span class="line my-3"></span>
          </div>
          <div class="row p-0">
              <div class="col-12 p-0 px-4"> <span class="text-uppercase text-muted">amount you want</span> </div>
              <div class="col-12 p-0 px-4"> <select class="form-select d-flex align-items-center my-2" id="amount"
                      aria-label="">
                      <option selected hidden>Select category</option>
                      <option value="100">Category1</option>
                      <option value="200">Category2</option>
                      <option value="300">Category3</option>
                  </select> </div>
              <div class="col-12 p-0 px-4"> <span class="text-uppercase text-muted">month</span> </div>
              <div class="col-12 p-0 px-4"> <select class="form-select d-flex align-items-center my-2" id="amount"
                      aria-label="">
                      <option selected hidden>Select Month</option>
                      <option value="jan">January</option>
                      <option value="feb">Feburary</option>
                      <option value="mar">March</option>
                      <option value="apr">April</option>
                      <option value="may">May</option>
                      <option value="jun">June</option>
                      <option value="jul">July</option>
                      <option value="aug">August</option>
                      <option value="sept">September</option>
                      <option value="oct">October</option>
                      <option value="nov">November</option>
                      <option value="dec">December</option>
                  </select> </div>
              <div class="col-12 p-0 px-4">
                  <div class="d-flex align-items-center my-3"> <span class="text-muted text-uppercase">you have to
                          pay:</span> <span class="c-g ps-1">$ <span id="money"></span></span> </div>
              </div>
              <div class="col-12 p-0 px-4">
                  <div class="btn btn-primary w-100">apply now</div>
                  <div class="text-muted text-center mb-4 mt-3">We provide online instant cash loans</div>
              </div>
          </div>
      </form>
  </div>
</div>
