<app-navbar></app-navbar>

<div class="app-background text-center text-light p-5">
  <h2> Przeglądaj zwierzęta do adopcji</h2>
</div>


<div class="app-background px-6 d-flex justify-content-center pb-3">
  <div class="p-2">
    <button type="button" class="btn text-light btn-rounded" style="background-color:#6a994e" [disabled]="true"> Zwierzęta do adopcji </button>
  </div>

  <div class="p-2">
    <button type="button" class="btn text-light btn-rounded" style="background-color:#6a994e" routerLink="/sick-pets"> Chore zwierzęta </button>
  </div>

</div>


<div *ngIf="pets != null">
  <div *ngFor="let pet of pets | paginate: { itemsPerPage: petsPerPage, currentPage: page }">
    <app-pet-to-adopt [pet]="pet"></app-pet-to-adopt>
    </div>

    <div class="app-background d-flex justify-content-center items-center p-3">
      <pagination-controls class="paginator" previousLabel="" nextLabel="" (pageChange)="page = $event"></pagination-controls>
    </div>


</div>


