<app-navbar></app-navbar>

<div class="app-background center ">

  <div class="row justify-content-center px-6 pt-5">

    <div class="col-lg-5 register-form-bgr rounded " >

      <div class="p-4 text-light text-center">
        <h3>Rejestracja</h3>
      </div>

      <div class="text-light">
        <label for="task-title" class="form-label m-2">Imię:</label>
        <input type="text" class="form-control" id="task-title" placeholder="" name="task-title" >

        <label for="task-title" class="form-label m-2">Nazwisko:</label>
        <input type="text" class="form-control" id="task-title" placeholder="" name="task-title" >

        <label for="task-title" class="form-label m-2">E-mail:</label>
        <input type="email" class="form-control" id="task-title" placeholder="" name="task-title" >

        <label for="task-title" class="form-label m-2">Hasło:</label>
        <input type="password" class="form-control" id="task-title" placeholder="" name="task-title" >

        <label for="task-title" class="form-label m-2">Powtórz hasło:</label>
        <input type="password" class="form-control" id="task-title" placeholder="" name="task-title" >
      </div>



        <div class="text-center m-4">
          <button type="button" class="btn btn-warning">Załóż konto</button>
        </div>

</div>
