<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


<div *ngIf="!isMobile; then desktop; else mobile">

</div>

<ng-template #desktop>

  <div class="rounded rounded bg-primary text-light vh-100">

    <div class="border-bottom pt-2 pb-2 d-flex justify-content-center">
        <h4>Wszystkie</h4>
    </div>

    <div *ngIf="convsersations != null">
      <div class="p-3">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="&#xF002; Szukaj" style="font-family:Arial, FontAwesome">
      </div>


      <div class="p-1" *ngFor="let conversation of convsersations | search:searchText ">
        <app-message-list-element [conversation]="conversation" ></app-message-list-element>
      </div>
    </div>


  </div>

</ng-template>



<ng-template #mobile>

  <div class="rounded rounded bg-secondary text-light vh-100" [ngClass]="!isCollapsed ? 'sidebar' : 'sidebar-collapsed'">

    <div class="border-bottom pt-2 pb-2 d-flex justify-content-center text-info" (click)="toggleSidebar()">
        <h4 *ngIf="!isCollapsed; then rightArrows; else leftArrows">

        </h4>
    </div>

    <div *ngIf="isCollapsed">

      <div *ngIf="convsersations != null">
        <div class="p-3">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
          placeholder="&#xF002; Szukaj" style="font-family:Arial, FontAwesome">
        </div>


        <div class="p-1" *ngFor="let conversation of convsersations | search:searchText ">
          <app-message-list-element [conversation]="conversation" ></app-message-list-element>
        </div>
      </div>

    </div>




  </div>
</ng-template>



<ng-template #rightArrows>
  <fa-icon [icon]="faAnglesRight"></fa-icon>
</ng-template>

<ng-template #leftArrows>
  <fa-icon [icon]="faAnglesLeft"></fa-icon>
</ng-template>
