.app-background{
  background-color: #0d1b2a;
}

html { background-color: #0d1b2a; }

.pt-6,
.py-6 {
  padding-top: 1rem !important;
}

.pr-6,
.px-6 {
  padding-right: 20rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 1rem !important;
}

.pl-6,
.px-6 {
  padding-left: 20rem !important;
}

@media (min-width: 768px) {
  .pt-md-6,
  .py-md-6 {
    padding-top: 5rem !important;
  }

  .pr-md-6,
  .px-md-6 {
    padding-right: 5rem !important;
  }

  .pb-md-6,
  .py-md-6 {
    padding-bottom: 5rem !important;
  }

  .pl-md-6,
  .px-md-6 {
    padding-left: 5rem !important;
  }
}
