
<app-navbar></app-navbar>


<div class="app-background center ">

  <div class="row justify-content-center px-6 pt-5">

    <div class="col-lg-5 rounded " >

      <div class="p-4 text-light text-center">
        <h3>Edycja profilu</h3>
      </div>

      <div class="text-light">

        <form class="form" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
          <label for="task-title" class="form-label m-2">Imię:</label>
          <input type="text" class="form-control" id="task-title" placeholder="" name="task-title" formControlName = "name">

          <div class="text-danger p-1" *ngIf="editProfileForm.get('name')?.hasError('required') &&
          (editProfileForm.get('name')?.dirty ||
          editProfileForm.get('name')?.touched ||
            hasSubmitted)">Imię jest wymagane</div>

            <div class="text-danger p-1" *ngIf="editProfileForm.get('name')?.hasError('maxlength') &&
          (editProfileForm.get('name')?.dirty ||
          editProfileForm.get('name')?.touched ||
            hasSubmitted)">Podane imię jest za długie</div>

          <label for="task-title" class="form-label m-2">Nazwisko:</label>
          <input type="text" class="form-control" id="task-title" placeholder="" name="task-title" formControlName = "surname" >

          <div class="text-danger p-1" *ngIf="editProfileForm.get('surname')?.hasError('required') &&
          (editProfileForm.get('surname')?.dirty ||
          editProfileForm.get('surname')?.touched ||
            hasSubmitted)">Nazwisko jest wymagane</div>

            <div class="text-danger p-1" *ngIf="editProfileForm.get('surname')?.hasError('maxlength') &&
          (editProfileForm.get('surname')?.dirty ||
          editProfileForm.get('surname')?.touched ||
            hasSubmitted)">Podane nazwisko jest za długie</div>

          <label for="task-title" class="form-label m-2">E-mail:</label>
          <input type="email" class="form-control bg-secondary text-light" id="task-title" placeholder="" name="task-title" formControlName = "email" readonly>



          <div *ngIf="false">

            <label for="task-title" class="form-label m-2">Hasło:</label>
            <input type="password" class="form-control" id="task-title" placeholder="" name="task-title" formControlName = "password">

            <div class="text-danger p-1" *ngIf="editProfileForm.get('password')?.hasError('required') &&
          (editProfileForm.get('password')?.dirty ||
          editProfileForm.get('password')?.touched ||
            hasSubmitted)">Hasło jest wymagane</div>

            <div class="text-danger p-1" *ngIf="editProfileForm.get('password')?.hasError('minlength') &&
          (editProfileForm.get('password')?.dirty ||
          editProfileForm.get('password')?.touched ||
            hasSubmitted)">Hasło musi mieć minimalnie 6 znaków</div>

          <label for="task-title" class="form-label m-2">Powtórz hasło:</label>
          <input type="password" class="form-control" id="task-title" placeholder="" name="task-title" formControlName = "confirmPassword">

          <div class="text-danger p-1" *ngIf="editProfileForm.get('confirmPassword')?.hasError('required') &&
          (editProfileForm.get('confirmPassword')?.dirty ||
          editProfileForm.get('confirmPassword')?.touched ||
            hasSubmitted)">Pole nie może być puste</div>

          <div class="text-danger p-1" *ngIf="!isPasswordsSame &&
          (editProfileForm.get('confirmPassword')?.dirty ||
          editProfileForm.get('confirmPassword')?.touched ||
            hasSubmitted)">Hasła nie są takie same</div>

          </div>



          <div class="text-center m-4">
            <button type="submit" class="btn btn-warning">Edytuj profil</button>
          </div>

        </form>


      </div>





</div>
