
<app-navbar></app-navbar>

<div class="app-background text-center text-light p-5">
  <h2> Zwierzę do adopcji</h2>
</div>


<div class="row px-7 app-background text-light justify-content-center pb-2 ">
  <div class="col-3 p-2"><img [src]="pet.photo_path" class="img-size-pet"></div>


  <div class="col-6 px-5 ms-3">
    <div class="d-flex flex-row justify-content-center pe-5">

      <div class="d-inline p-1"><span class="p-3 badge bg-primary rounded-pill">{{pet.species}}</span></div>
      <div class="d-inline p-1"><span class=" p-3 badge bg-primary rounded-pill">{{pet.race}}</span></div>
      <div class="d-inline p-1"><span class=" p-3 badge bg-primary rounded-pill">{{pet.size}}</span></div>
    </div>

    <div class="p-4 row justify-content-center">
      {{pet.description}}
    </div>

  </div>

</div>

<div class="d-flex flex-row px-8 app-background text-light justify-content-start pb-2 ">
  <div class="col-3 ps-5 text-center text-warning">
    <h3><b>{{pet.name}}</b></h3>
  </div>

  <div class="d-flex flex-grow-1 justify-content-center">

    <div class="col-3 ps-5 text-center">
      <button type="button" class="btn btn-success btn-rounded" [disabled]="isPetSaved" (click)="savePet()"> {{currentButtonText}} <fa-icon [icon]="faHeart"></fa-icon></button>
    </div>

    <div class="col-3 ps-4 text-center">
      <button type="button" class="btn btn-primary btn-rounded"> Wiadomość <fa-icon [icon]="faEnvelope"></fa-icon> </button>
    </div>

  </div>

</div>

<div class="app-background text-center text-light px-8 pt-4">

  <div class="pt-4 border-top">
    <button type="button" class="btn text-light btn-rounded" style="background-color:#6a994e" routerLink="/pets-to-adopt"> Zwierzęta do adopcji </button>
  </div>

</div>
