<app-navbar></app-navbar>

<div class="app-background text-center text-light p-5">
  <h2> Chore zwierzęta - Menadżer</h2>
</div>

<div class="app-background px-6 d-flex justify-content-center pb-3">

  <div class="p-1">
    <button type="button" class="btn btn-primary btn-rounded" routerLink="/sick-pets-manager/add"> Dodaj <fa-icon [icon]="faPlus"></fa-icon></button>
  </div>

</div>

<div *ngIf="!isMobile; then desktop; else mobile">

</div>


<ng-template #desktop>

  <div *ngIf="pets.length > 0">
    <div class="px-6 app-background table-responsive">
      <table class="table table-striped table-dark table-sm table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Zdjęcie</th>
            <th scope="col">Imię</th>
            <th scope="col">Gatunek</th>
            <th scope="col">Choroba</th>
            <th scope="col">Obecna liczba żetonów</th>
            <th scope="col">Wymagana liczba żetonów</th>
            <th scope="col">Status</th>
            <th scope="col">Akcja</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of pets | paginate: { itemsPerPage: petsPerPage, currentPage: page }; let i = index">
            <th scope="row">{{i+1}}</th>
            <td><img [src]="pet.photo_path" class="img-size-my-pet"> <div class="pt-2 "> <button type="button" class="btn btn-info p-2" routerLink="/sick-pets-manager/edit-photo/{{pet.id}}">Zmień</button> </div> </td>
            <td >{{pet.name}}</td>
            <td >{{pet.species}}</td>
            <td >{{pet.disease}}</td>
            <td >{{pet.current_tokens}}</td>
            <td >{{pet.required_tokens}}</td>
            <td >{{pet.status}}</td>
            <td >
              <div class="text-center pt-2">
                <button type="button" class="btn btn-info" routerLink="/sick-pets-manager/edit/{{pet.id}}">Edytuj</button>
              </div>
              <div class="text-center pt-2">
                <button type="button" class="btn btn-danger" (click)="deleteSickPetWindow(pet.id, pet.name)">Usuń</button>
              </div>
            </td>
          </tr>

        </tbody>
      </table>

      </div>

      <div class="app-background d-flex justify-content-center items-center p-3">
        <pagination-controls class="paginator" previousLabel="" nextLabel="" (pageChange)="page = $event"></pagination-controls>
      </div>

  </div>
</ng-template>


<ng-template #mobile>

  <div *ngIf="pets.length > 0">
    <div class="px-6 app-background table-responsive">
      <table class="table table-striped table-dark table-sm table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Zdjęcie</th>
            <th scope="col">Akcja</th>
            <th scope="col">Imię</th>
            <th scope="col">Gatunek</th>
            <th scope="col">Choroba</th>
            <th scope="col">Obecna liczba żetonów</th>
            <th scope="col">Wymagana liczba żetonów</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of pets | paginate: { itemsPerPage: petsPerPage, currentPage: page }; let i = index">
            <th scope="row">{{i+1}}</th>
            <td><img [src]="pet.photo_path" class="img-size-my-pet-mobile"> <div class="pt-2 "> <button type="button" class="btn btn-info p-1 btn-sm" routerLink="/sick-pets-manager/edit-photo/{{pet.id}}">Zmień</button> </div> </td>
            <td >
              <div class="text-center pt-2">
                <button type="button" class="btn btn-info btn-sm" routerLink="/sick-pets-manager/edit/{{pet.id}}">Edytuj</button>
              </div>
              <div class="text-center pt-2">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteSickPetWindow(pet.id, pet.name)">Usuń</button>
              </div>
            </td>
            <td >{{pet.name}}</td>
            <td >{{pet.species}}</td>
            <td >{{pet.disease}}</td>
            <td >{{pet.current_tokens}}</td>
            <td >{{pet.required_tokens}}</td>
            <td >{{pet.status}}</td>
          </tr>

        </tbody>
      </table>

      </div>

      <div class="app-background d-flex justify-content-center items-center p-3">
        <pagination-controls class="paginator" previousLabel="" nextLabel="" (pageChange)="page = $event"></pagination-controls>
      </div>

  </div>
</ng-template>
