<app-navbar></app-navbar>

<ngx-spinner type="ball-square-clockwise-spin" color="#6a994e"></ngx-spinner>

<div class="app-background text-center text-light p-5">
  <h2> Zaadoptuj zwierzaka lub pomóż w inny sposób!</h2>
</div>


<div class="app-background px-6 d-flex justify-content-center">
  <div class="p-2">
    <button type="button" class="btn text-light btn-rounded" style="background-color:#6a994e" routerLink="/pets-to-adopt"> Zwierzęta do adopcji </button>
  </div>

  <div class="p-2">
    <button type="button" class="btn text-light btn-rounded" style="background-color:#6a994e" routerLink="/sick-pets"> Chore zwierzęta </button>
  </div>

</div>

<div class="app-background text-start text-light px-7 pb-1">
  <h5 class="p-5"> <b>Najnowsze:</b></h5>
</div>

<div *ngIf="pets != null">
  <div *ngFor="let pet of pets">
    <app-pet-to-adopt [pet]="pet"></app-pet-to-adopt>
    </div>
</div>


