<app-navbar></app-navbar>

<div class="app-background text-center text-light p-5">
  <h2> Płatność</h2>
</div>

<div *ngIf="!isMobile; then desktop; else mobile">

</div>


<ng-template #desktop>

  <div class="mx-auto row app-background px-6 justify-content-center text-center">

    <div class="col-3 card bg-c-blue order-card">
      <div class="card-block">
          <h5 class="m-b-20">{{bundle.name}}</h5>
          <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{bundle.tokens_count}} <fa-icon class="pe-1" [icon]="faSackDollar"></fa-icon></span></h2>
          <p class="m-b-0"> {{bundle.price}} {{bundle.currency | uppercase}} </p>
      </div>
    </div>

    <div class="col-4">

      <div class="ps-5">
        <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
          <div class="form-row p-2">

            <div class="pb-2">
              <label for="card-info">Karta płatnicza</label>
            </div>

            <div id="card-info" #cardInfo></div>

            <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          </div>

          <div class="p-1">
            <button type="submit">Zapłać {{bundle.price}} {{bundle.currency | uppercase}}</button>
          </div>

        </form>
      </div>

    </div>

  </div>

</ng-template>




<ng-template #mobile>

  <div class="mx-auto row app-background justify-content-center text-center">

    <div class="ps-3 pe-3 justify-content-center ">
      <div class="col-12 card bg-c-blue order-card">

        <div class="mx-auto">
          <div class="card-block">
            <h5 class="m-b-20">{{bundle.name}}</h5>
            <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{bundle.tokens_count}} <fa-icon class="pe-1" [icon]="faSackDollar"></fa-icon></span></h2>
            <p class="m-b-0"> {{bundle.price}} {{bundle.currency | uppercase}} </p>
          </div>
        </div>

      </div>
    </div>


    <div class="col-12 pb-2 justify-content-center ">

      <div class="ps-1 pe-1">
        <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
          <div class="form-row p-2">

            <div class="pb-2">
              <label for="card-info">Karta płatnicza</label>
            </div>

            <div id="card-info" #cardInfo></div>

            <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          </div>

          <div class="p-1">
            <button type="submit">Zapłać {{bundle.price}} {{bundle.currency | uppercase}}</button>
          </div>

        </form>
      </div>

    </div>

  </div>

</ng-template>
